[mgr]
show_hidden = true

[opener]
edit = [
  { run = 'nvim "$@"', block = true }
]

[open]
prepend_rules = [
    { mime = "text/*", use = "edit" },
    { mime = "application/json", use = "edit" },
]
